html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-content {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.no-decoration:link {
  text-decoration: none;
}
.no-decoration:visited {
  text-decoration: none;
}
.no-decoration:hover {
  text-decoration: none;
}
.no-decoration:active {
  text-decoration: none;
}

#main {
  
}

#main > .columns {
  
}

.random-maze-button {
  margin: 0.5rem;
}

.sidebar {
  width: 250px;
  background: whitesmoke;
  min-height: 100%;
}

#counter {
  width: 80px;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
